<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.xored.q7.quality.mockups.ui.part">
      <part
            category="issues.customer"
            class="com.xored.q7.quality.mockups.draw2d.Draw2DPart"
            name="QS-2855 Embedded FigureCanvas">
      </part>
      
      <part
            category="issues.customer"
            class="com.xored.q7.quality.mockups.draw2d.GraphicalViewerPart"
            name="QS-2855 Embedded GraphicalViewer">
      </part>
      
      <part
            category="draw2d"
            class="com.xored.q7.quality.mockups.draw2d.DiagramItemWithImage"
            name="Diagram Item With Image">
      </part>
      
      <part
            category="draw2d"
            class="com.xored.q7.quality.mockups.draw2d.DiagramWithCustomId"
            name="Diagram With Custom Id">
      </part>
      
   </extension>

</plugin>
